<div class="landCols cols">
  <div class="col">
    Total Buildings: <span id="totalBuildings">...</span><br />
  </div>
  <div class="col">
    Total Land: <span id="totalLand">...</span><br />
  </div>
</div>
<div id="landBar" class="bar" title="Land usage">
  <!-- populated by javascript -->
</div>
<div id="customBuildQuantity" class="form form-horizontal">
  <label class="control-label col-xs-3">Custom quantity:</label>
  <div class="col-xs-3">
    <input class="form-control" id="buildingCustomQty" type="number" min="1" step="1" value="1" />
  </div>
</div>
<table class="table" id="buildings">
  <!-- populated by javascript -->
</table>
<div id="graveTotal">
  Unfilled Graves: <span data-action="display" data-target="grave">...</span>
</div>
