<div class="notYet">
  Your civilization does not yet worship a deity. 
  <span class="tip">You need to increase piety by assigning clerics at a temple.</span>
</div>
<div id="deityContainer">
  <h3>Current Deity</h3>
  <table class="table" id="activeDeity">
    <!-- populated by javascript -->
  </table>
</div>
<span id="walkGroup" style="display: none;"><br />Walk: <span id="walkStat">...</span> workers per second<br /></span>
<div id="worshipRow">
  <!-- populated by updatePurchaseRow -->
</div>

<div id="deityDomains">
  <p>
  You may select only one domain for your deity:
  </p>
  <div class="row">
    <div id="battleRow" class="purchaseRow col-xs-4" data-target="battle"> 
      <span class="upgradetrue" data-quantity="true">
        <button id="battleDeity" class="xtrue purchaseFor500Piety btn btn-default btn-block" onmousedown="selectDeity('battle')">Battle</button>
      </span>
    </div>
    <div class="col-xs-8 deity-cost">
      <span id="battleCost" class="cost">500 piety</span>
    </div>
    <div id="fieldsRow" class="purchaseRow col-xs-4" data-target="fields">
      <span class="upgradetrue" data-quantity="true">
        <button id="fieldsDeity" class="xtrue purchaseFor500Piety btn btn-default btn-block" onmousedown="selectDeity('fields')">Fields</button>
      </span>
    </div>		
    <div class="col-xs-8 deity-cost">
      <span id="fieldsCost" class="cost">500 piety</span>
    </div>
    <div id="underworldRow" class="purchaseRow col-xs-4" data-target="underworld">
      <span class="upgradetrue" data-quantity="true">
        <button id="underworldDeity" class="xtrue purchaseFor500Piety btn btn-default btn-block" onmousedown="selectDeity('underworld')">Underworld</button>
      </span>
    </div>
    <div class="col-xs-8 deity-cost">
      <span id="underworldCost" class="cost">500 piety</span>
    </div>
    <div id="catsRow" class="purchaseRow col-xs-4" data-target="cats">
      <span class="upgradetrue" data-quantity="true">
        <button id="catsDeity" class="xtrue purchaseFor500Piety btn btn-default btn-block" onmousedown="selectDeity('cats')">Cats</button>
      </span>
    </div>
    <div class="col-xs-8 deity-cost">
      <span id="catsCost" class="cost">500 piety</span>
    </div>
  </div>
</div>

<div id="battleUpgrades">
  <h3>The Strength of Battle</h3>
  <table class="table">
    <tr id="battleAltarRow"><td></td></tr>
    <tr id="riddleRow"><td></td></tr>
    <tr id="smiteRow"><td></td></tr>
    <tr id="throneRow"><td></td></tr>
    <tr id="gloryRow"><td></td></tr>
    <tr id="lamentRow"><td></td></tr>
  </table>
</div>
<div id="fieldsUpgrades">
  <h3>The Bounty of the Fields</h3>
  <table class="table">
    <tr id="fieldsAltarRow"><td></td></tr>
    <tr id="blessingRow"><td></td></tr>
    <tr id="wickermanRow"><td></td></tr>
    <tr id="wasteRow"><td></td></tr>
    <tr id="walkRow"><td></td></tr>
    <tr id="stayRow"><td></td></tr>
  </table>
</div>
<div id="underworldUpgrades">
  <h3>The Dread Power of the Underworld</h3>
  <table class="table">
    <tr id="underworldAltarRow"><td></td></tr>
    <tr id="bookRow"><td></td></tr>
    <tr id="raiseDeadRow"><td></td></tr>
    <tr id="feastRow"><td></td></tr>
    <tr id="summonShadeRow"><td></td></tr>
    <tr id="secretsRow"><td></td></tr>
  </table>
</div>
<div id="catsUpgrades">
  <h3>The Grace of Cats</h3>
  <table class="table">
    <tr id="catAltarRow"><td></td></tr>
    <tr id="lureRow"><td></td></tr>
    <tr id="pestControlRow"><td></td></tr>
    <tr id="companionRow"><td></td></tr>
    <tr id="graceRow"><td></td></tr>
    <tr id="comfortRow"><td></td></tr>
  </table>
</div>
<div id="pantheonContainer">
  <h3>Pantheon</h3>
  <table class="table" id="oldDeities"><tr><td></td></tr></table>
</div>
<div id="iconoclasmGroup">
  <button class="btn btn-default" id="iconoclasm" onmousedown="iconoclasmList()">Iconoclasm</button>
  <span id="iconoclasmCost" class="cost">1,000 piety</span>
  <span id="iconoclasmNote" class="note">: Remove an old deity to gain gold</span><br />
  <div id="iconoclasmList"></div>
</div>
<div id="pantheonUpgrades">
  <h3>Pantheon Upgrades</h3>
  <div id="purchasedPantheon"></div>
</div>
