<div id="populationContainer" class="civSection">
  <div id="populationNumbers" class="panel panel-default">
    <div class="panel-heading">Status</div>
    <div class="panel-content">
      <table class="resources table">
        <tbody>
          <tr>
            <td>
              <img src="images/backup.png" class="icon icon-lg" alt="Population"/>
              <label>Population:</label>
            </td>
            <td class="number"><span data-action="display_pop" data-target="living">...</span></td>
            <td class="number maxNumber">
              / max: <span data-action="display_pop" data-target="limit">...</span>
            </td>
            <td class="note">
              Build more housing to grow your civilization
            </td>
          </tr>
          <tr id="zombieWorkers">
            <td>
              <img src="images/shambling-zombie.png" class="icon icon-lg" alt="Zombies"/>
              <label>Zombies:</label>
            </td>
            <td class="number"><span data-action="display" data-target="zombie">...</span></td>
            <td></td>
            <td></td>
          </tr>
          <tr>
            <td>
              <img src="images/smitten.png" class="icon icon-lg" alt="Happiness"/>
              <label>Happiness:</label>
            </td>
            <td colspan="3" id="morale">
              <ol class="happinessRanks">
                <li>Blissful</li>
                <li>Happy</li>
                <li>Content</li>
                <li>Unhappy</li>
                <li>Angry</li>
              </ol>
            </td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>

<div id="jobsContainer" class="civSection">
  <div id="populationBar" class="bar" title="Population">
    <!-- populated by javascript -->
  </div>
  <div id="populationCreate">
    <div>
      <table>
        <tr>
          <td class="col-sm-3" style="text-align: right;">Recruit new citizens as</td>
          <td class="col-sm-3">
            <select class="form-control" id="newSpawnJobSelection">
              <option value="unemployed">Idle Citizens</option>
              <option value="farmer" selected="selected">Farmers</option>
              <option value="woodcutter">Woodcutters</option>
              <option value="miner">Miners</option>
            </select>
          </td>
          <td class="col-sm-6">
            <span class="cost">for <span id="workerCost">...</span> food</span><span class="note">.</span>
            <button class="btn btn-default btn-sm unit1" id="spawn1button" onmousedown="spawn(1)">+1</button>
            <button class="btn btn-default btn-sm unit10" id="spawn10button" onmousedown="spawn(10)">+10</button>
            <button class="btn btn-default btn-sm unit100" id="spawn100button" onmousedown="spawn(100)">+100</button>
            <button class="btn btn-default btn-sm unit1000" id="spawn1000button" onmousedown="spawn(1000)">+1k</button>
            <button class="btn btn-default btn-sm unitInfinity" id="spawnMaxbutton" onmousedown="spawn(Infinity)">+<span id="workerNumMax">Max</span></button>
          </td>
        </tr>
      </table>
    </div>
    <div id="customSpawnQuantity" class="form form-horizontal">
      <div class="col-xs-3">
        <button class="btn btn-default" id="spawnCustomButton" onmousedown="spawn('custom')">
          Recruit citizens
        </button>
      </div>
      <div class="col-xs-3">
        <input class="form-control" id="spawnCustomQty" type="number" min="1" step="1" value="1" />
      </div>
    </div>
    <div id="customJobQuantity" class="form form-horizontal">
      <label class="control-label col-xs-3">Custom quantity:</label>
      <div class="col-xs-3">
        <input class="form-control" id="homeCustomQty" type="number" min="1" step="1" value="1" />
      </div>
    </div>
    <table id="jobs" class="table">
      <!-- populated by javascript -->
    </table>
  </div>
</div>
