<!-- Primary resources -->
<div id="basicResourcesContainer" class="panel panel-default">
  <div class="panel-heading">
    Primary resources
  </div>
  <div class="panel-content">
    <table id="basicResources" class="resources table">
      <!-- populated by javascript -->
    </table>
  </div>
</div>

<!-- Secondary resources -->
<div id="specialResourcesContainer" class="panel panel-default">
  <div class="panel-heading">Secondary resources</div>
  <div class="panel-content">
    <table class="table resources">
      <tbody>
        <tr>
          <td>
            <img src="images/skins.png" class="icon icon-lg" alt="Skins"/>
            <label>Skins:</label>
          </td>
          <td>
            <span class="number" data-action="display" data-target="skins">0</span>
          </td>
          <td>
            <span class="number net" data-action="displayNet" data-target="skins">0</span><span class="perSecond">/s</span>
          </td>
          <td>
            <img src="images/leather.png" class="icon icon-lg" alt="Leather"/>
            <label>Leather:</label>
          </td>
          <td>
            <span class="number" data-action="display" data-target="leather">0</span>
          </td>
          <td>
            <span class="number net" data-action="displayNet" data-target="leather">0</span><span class="perSecond">/s</span>
          </td>
        </tr>
        <tr>
          <td>
            <img src="images/herbs.png" class="icon icon-lg" alt="Herbs"/>
            <label>Herbs:</label>
          </td>
          <td>
            <span class="number" data-action="display" data-target="herbs">0</span>
          </td>
          <td>
            <span class="number net" data-action="displayNet" data-target="herbs">0</span><span class="perSecond">/s</span>
          </td>
          <td>
            <img src="images/piety.png" class="icon icon-lg" alt="Piety"/>
            <label>Piety:</label>
          </td>
          <td>
            <span class="number" data-action="display" data-target="piety">0</span>
          </td>
          <td>
            <span class="number net" data-action="displayNet" data-target="piety">0</span><span class="perSecond">/s</span>
          </td>
        </tr>
        <tr>
          <td>
            <img src="images/ore.png" class="icon icon-lg" alt="Ore"/>
            <label>Ore:</label>
          </td>
          <td>
            <span class="number" data-action="display" data-target="ore">0</span>
          </td>
          <td>
            <span class="number net" data-action="displayNet" data-target="ore">0</span><span class="perSecond">/s</span>
          </td>
          <td>
            <img src="images/metal.png" class="icon icon-lg" alt="Metal"/>
            <label>Metal:</label>
          </td>
          <td>
            <span class="number" data-action="display" data-target="metal">0</span>
          </td>
          <td>
            <span class="number net" data-action="displayNet" data-target="metal">0</span><span class="perSecond">/s</span>
          </td>
        </tr>
        <tr>
          <td>
            <img src="images/gold.png" class="icon icon-lg" alt="Gold" />
            <label>Gold:</label>
          </td>
          <td colspan="2">
            <span class="number" data-action="display" data-target="gold">0</span>
          </td>
          <td>
            <img src="images/carrion.png" class="icon icon-lg" alt="Corpses">
            <label>Corpses:</label>
          </td>
          <td colspan="2">
            <span class="number" data-action="display" data-target="corpses">0</span>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
</div>
