<ul class="nav nav-tabs" role="tablist">
  <li role="presentation" class="active">
    <a href="#tools-tab-produce" role="tab" data-toggle="tab">
      Produce
    </a>
  </li>
  <li role="presentation">
    <a onclick="CivClicker.plugins.Tools.updateEquip();" href="#tools-tab-equip" role="tab" data-toggle="tab">
      Equip
    </a>
  </li>
</ul>

<div class="tab-content">

  <div id="tools-tab-produce" class="tab-pane active">
    <p>Idle citizens: <span id="tools-idle-citizens">...</span>.</p>

    <div class="row row-margin">
      <span class="col-sm-6 text-muted">Recruit more idle citizens to be able to assign tool makers.</span>
      <div class="col-sm-6">
        <div class="btn-group pull-right" data-toggle="buttons" role="group">
          <label class="btn btn-default active"><input type="radio" name="tool-produce-x" value="1" />1</label>
          <label class="btn btn-default"><input type="radio" name="tool-produce-x" value="10" />10</label>
          <label class="btn btn-default"><input type="radio" name="tool-produce-x" value="100" />100</label>
          <label class="btn btn-default"><input type="radio" name="tool-produce-x" value="1000" />1k</label>
          <!--
          <button class="btn btn-default active">1</button>
          <button class="btn btn-default">10</button>
          <button class="btn btn-default">100</button>
          <button class="btn btn-default">1k</button>
          -->
        </div>
      </div>
    </div>

    <div id="toolsContainer" class="panel panel-default">
      <div class="panel-heading">
        Tools
      </div>
      <div class="panel-content">
        <table id="toolsTable" class="tools table">
          <!-- Populated by Tools plugin. -->
        </table>
      </div>
    </div>
  </div>

  <div id="tools-tab-equip" class="tab-pane">
    <div class="col-sm-4">
      <select 
        id="tools-equip-available"
        class="form-control"
        size=10
        onchange="CivClicker.plugins.Tools.onEquipChange();"
        >
      </select>
    </div>
    <div class="col-sm-4">
      <button 
        id="tools-equip-equip"
        class="btn btn-default btn-block"
        onclick="CivClicker.plugins.Tools.equip();"
        disabled="disabled"
      >
        Equip
        &nbsp;
        <span class="fa fa-arrow-right"></span>
      </button>
      <button 
        id="tools-equip-unequip"
        class="btn btn-default btn-block"
        onclick="CivClicker.plugins.Tools.unequip();"
        disabled="disabled"
      >
        <span class="fa fa-arrow-left"></span>
        &nbsp;
        Unequip
      </button>
    </div>
    <div class="col-sm-4">
      <select 
         id="tools-equip-units"
         class="form-control"
         size=10
         onchange="CivClicker.plugins.Tools.onEquipChange();"
        >
      </select>
    </div>
  </div>

</div>
