<table class="table">
  <caption>Primary resources</caption>
  <tr>
    <td class="text-right">Food</td>
    <td class="text-left">{{#shortify}}{{civData.food.owned}}{{/shortify}}</td>
    <td>/</td>
    <td class="text-left">{{#shortify}}{{civData.food.limit}}{{/shortify}}</td>
  </tr>
  <tr>
    <td class="text-right">Wood</td>
    <td class="text-left">{{#shortify}}{{civData.wood.owned}}{{/shortify}}</td>
    <td>/</td>
    <td class="text-left">{{#shortify}}{{civData.wood.limit}}{{/shortify}}</td>
  </tr>
  <tr>
    <td class="text-right">Stone</td>
    <td class="text-left">{{#shortify}}{{civData.stone.owned}}{{/shortify}}</td>
    <td>/</td>
    <td class="text-left">{{#shortify}}{{civData.stone.limit}}{{/shortify}}</td>
  </tr>
</table>

<table class="table">
  <caption>Secondary resources</caption>
  <tr>
    <td class="text-right">Skins</td>
    <td class="text-left">{{#shortify}}{{civData.skins.owned}}{{/shortify}}</td>
  </tr>
  <tr>
    <td class="text-right">Herbs</td>
    <td class="text-left">{{#shortify}}{{civData.herbs.owned}}{{/shortify}}</td>
  </tr>
  <tr>
    <td class="text-right">Ore</td>
    <td class="text-left">{{#shortify}}{{civData.ore.owned}}{{/shortify}}</td>
  </tr>
  <tr>
    <td class="text-right">Gold</td>
    <td class="text-left">{{#shortify}}{{civData.gold.owned}}{{/shortify}}</td>
  </tr>
  <tr>
    <td class="text-right">Leather</td>
    <td class="text-left">{{#shortify}}{{civData.leather.owned}}{{/shortify}}</td>
  </tr>
  <tr>
    <td class="text-right">Piety</td>
    <td class="text-left">{{#shortify}}{{civData.piety.owned}}{{/shortify}}</td>
  </tr>
  <tr>
    <td class="text-right">Metal</td>
    <td class="text-left">{{#shortify}}{{civData.metal.owned}}{{/shortify}}</td>
  </tr>
  <tr>
    <td class="text-right">Corpses</td>
    <td class="text-left">{{#shortify}}{{civData.corpses.owned}}{{/shortify}}</td>
  </tr>
</table>
