<table class="table">
  <caption>Primary resources</caption>
  <tr>
    <td class="text-right">Food</td>
    <td class="text-left">{{#round}}{{civData.food.owned}}{{/round}}</td>
    <td>/</td>
    <td class="text-left">{{#round}}{{civData.food.limit}}{{/round}}</td>
  </tr>
  <tr>
    <td class="text-right">Wood</td>
    <td class="text-left">{{#round}}{{civData.wood.owned}}{{/round}}</td>
    <td>/</td>
    <td class="text-left">{{#round}}{{civData.wood.limit}}{{/round}}</td>
  </tr>
  <tr>
    <td class="text-right">Stone</td>
    <td class="text-left">{{#round}}{{civData.stone.owned}}{{/round}}</td>
    <td>/</td>
    <td class="text-left">{{#round}}{{civData.stone.limit}}{{/round}}</td>
  </tr>
</table>

<table class="table">
  <caption>Secondary resources</caption>
  <tr>
    <td class="text-right">Skins</td>
    <td class="text-left">{{#round}}{{civData.skins.owned}}{{/round}}</td>
  </tr>
  <tr>
    <td class="text-right">Herbs</td>
    <td class="text-left">{{#round}}{{civData.herbs.owned}}{{/round}}</td>
  </tr>
  <tr>
    <td class="text-right">Ore</td>
    <td class="text-left">{{#round}}{{civData.ore.owned}}{{/round}}</td>
  </tr>
  <tr>
    <td class="text-right">Gold</td>
    <td class="text-left">{{#round}}{{civData.gold.owned}}{{/round}}</td>
  </tr>
  <tr>
    <td class="text-right">Leather</td>
    <td class="text-left">{{#round}}{{civData.leather.owned}}{{/round}}</td>
  </tr>
  <tr>
    <td class="text-right">Piety</td>
    <td class="text-left">{{#round}}{{civData.piety.owned}}{{/round}}</td>
  </tr>
  <tr>
    <td class="text-right">Metal</td>
    <td class="text-left">{{#round}}{{civData.metal.owned}}{{/round}}</td>
  </tr>
  <tr>
    <td class="text-right">Corpses</td>
    <td class="text-left">{{#round}}{{civData.corpses.owned}}{{/round}}</td>
  </tr>
</table>
