<table class="table">
  <caption>Primary resources</caption>
  <tr>
    <td class="text-right">Food</td>
    <td class="text-left">{{civData.food.owned}}</td>
    <td>/</td>
    <td class="text-left">{{civData.food.limit}}</td>
  </tr>
  <tr>
    <td class="text-right">Wood</td>
    <td class="text-left">{{civData.wood.owned}}</td>
    <td>/</td>
    <td class="text-left">{{civData.wood.limit}}</td>
  </tr>
  <tr>
    <td class="text-right">Stone</td>
    <td class="text-left">{{civData.stone.owned}}</td>
    <td>/</td>
    <td class="text-left">{{civData.stone.limit}}</td>
  </tr>
</table>

<table class="table">
  <caption>Secondary resources</caption>
  <tr>
    <td class="text-right">Skins</td>
    <td class="text-left">{{civData.skins.owned}}</td>
  </tr>
  <tr>
    <td class="text-right">Herbs</td>
    <td class="text-left">{{civData.herbs.owned}}</td>
  </tr>
  <tr>
    <td class="text-right">Ore</td>
    <td class="text-left">{{civData.ore.owned}}</td>
  </tr>
  <tr>
    <td class="text-right">Gold</td>
    <td class="text-left">{{civData.gold.owned}}</td>
  </tr>
  <tr>
    <td class="text-right">Leather</td>
    <td class="text-left">{{civData.leather.owned}}</td>
  </tr>
  <tr>
    <td class="text-right">Piety</td>
    <td class="text-left">{{civData.piety.owned}}</td>
  </tr>
  <tr>
    <td class="text-right">Metal</td>
    <td class="text-left">{{civData.metal.owned}}</td>
  </tr>
  <tr>
    <td class="text-right">Corpses</td>
    <td class="text-left">{{civData.corpses.owned}}</td>
  </tr>
</table>
