<table class="table">
  <caption>Population</caption>
  <tr>
    <td class="text-right">Total</td>
    <td class="text-left">{{#shortify}}{{population.living}}{{/shortify}}</td>
    <td>/</td>
    <td class="text-left">{{#shortify}}{{population.limit}}{{/shortify}}</td>
  </tr>
  {{#unitData}}
    {{#isPopulation}}
      {{#owned}}
        <tr>
          <td class="text-right">{{#ucfirst}}{{id}}{{/ucfirst}}</td>
          <td class="text-left">{{#shortify}}{{owned}}{{/shortify}}</td>
        </tr>
      {{/owned}}
    {{/isPopulation}}
  {{/unitData}}
</table>
<table class="table">
  <caption>Health</caption>
  <tr>
    <td class="text-right">Happiness</td>
    <td class="text-left" colspan=10>{{#ucfirst}}{{happiness}}{{/ucfirst}}</td>
  </tr>
  <tr>
    <td class="text-right">Sick</td>
    <td class="text-left">{{#shortify}}{{population.totalSick}}{{/shortify}}</td>
  </tr>
</table>
